.env
.env.*
!.env.example
!.env.docker.example
.git
.phpunit.cache
node_modules
public/build
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
vendor
bootstrap/cache/*.php
